<div ng-if="games">
    Games List
    <table class="table table-bordered">
        <thead>
            <tr class="md-table-headers-row">
                <th class="md-table-header">Home Team</th>
                <th class="md-table-header">Away Team</th>
                <th class="md-table-header">Home Score</th>
                <th class="md-table-header">Away Score</th>
                <th class="md-table-header">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="md-table-content-row" ng-repeat="game in games">
                <td class="md-table-content">{{game.homeTeam}}</td>
                <td class="md-table-content">{{game.awayTeam}}</td>
                <td class="md-table-content">{{game.homeScore}}</td>
                <td class="md-table-content">{{game.awayScore}}</td>
                <td class="md-table-content">{{game.gameTime}}</td>
            </tr>
        </tbody>
    </table>
</div>