<div class="container">
    <br>
    <search-team-directive></search-team-directive>
    <teams-list-directive mode="Favorites"></teams-list-directive>
    <favorites-list-directive></favorites-list-directive>
</div>