<div ng-controller="GamePredictionController" layout="column" layout-align="center center" style="padding:40px" ng-cloak="">

    <div layout="row">
        <div>
            <div style="float:left;margin-right: 400px">
                <p style="text-shadow: 0 0 3px #FF0000;">Home Team</p>
                <md-select placeholder="Choose Team" ng-model="homeTeam" md-on-open="loadTeams()" md-on-close="setHomePlayers()" style="min-width: 200px;">
                    <md-option ng-value="homeTeam" ng-repeat="homeTeam in allTeams">{{homeTeam.fullName}}</md-option>
                </md-select>
            </div>
            <div ng-if="homeTeam">
                <div style="float:left; margin-top: 30px">
                    <md-input-container>
                        <label style="min-width: 200px;">Select Missing Players</label>
                        <md-select ng-model="player" style="min-width: 200px;" ng-change="updateHomeMissingPlayers(player)" multiple>
                            <md-optgroup label="Select">
                                <md-option ng-value="player" ng-repeat="player in homeTeamMissingPlayers">{{player.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div>
            <div style="float:right;">
                <p style="text-shadow: 0 0 3px #00008B;">Away Team</p>
                <md-select placeholder="Choose Team" ng-model="awayTeam" md-on-close="setAwayPlayers()" md-on-open="loadTeams()" style="min-width: 200px;">
                    <md-option ng-value="awayTeam" ng-repeat="awayTeam in allTeams">{{awayTeam.fullName}}</md-option>
                </md-select>

            </div>
            <div ng-if="awayTeam">
                <div style="float:left; margin-top: 30px">
                    <md-input-container>
                        <label style="min-width: 200px;">Select Missing Players</label>
                        <md-select ng-model="player" style="min-width: 200px;" ng-change="updateAwayMissingPlayers(player)" multiple>
                            <md-optgroup label="Select">
                                <md-option ng-value="player" ng-repeat="player in awayTeamMissingPlayers">{{player.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="pendingRequest">
        <canvas id="spriteBasketball"></canvas>
        <script src="js/services/turnningBasketball/sprite-basketball.js"></script>
    </div>

    <div ng-show="!isEmpty(winnerTeam)">
        <aside class="fh5co-page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="fh5co-page-heading-lead">
                            Winner:
                            <span class="fh5co-border"></span>
                        </h1>
                        <h3 class="fh5co-sidebox-lead" ng-bind="winnerTeam.fullName"></h3>
                    </div>
                </div>
            </div>
        </aside>

    </div>

    <div>
        <div ng-show="!pendingRequest">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" data-ng-disabled="disabledPredictButton()" ng-click="predict()">Predict</md-button>
            </section>
        </div>
    </div>
</div>