<div class="text-center">
    <div class="fh5co-slider">
        <div class="owl-carousel owl-carousel-fullwidth">
            <div class="item" style="background-image:url(images/slide_1.jpg)">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text text-center to-animate">
                                    <a href="/home">
                                        <h1 class="fh5co-lead">Manager</h1>
                                    </a>
                                    <h2 class="fh5co-sub-lead">Free platform for NBA games statistic and prediction games result </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/slide_2.jpg)">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text text-center to-animate">
                                    <a href="/statistics">
                                        <h1 class="fh5co-lead">Game Statistics</h1>
                                    </a>
                                    <h2 class="fh5co-sub-lead"> Discover your team by game statistics </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/slide_3.jpg)">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text text-center to-animate">
                                    <a href="/gamePrediction">
                                        <h1 class="fh5co-lead">Predict Game Result</h1>
                                    </a>
                                    <h2 class="fh5co-sub-lead"> Get predict game result</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/slide_4.jpg)">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text text-center to-animate">
                                    <h1 class="fh5co-lead">About</h1>
                                    <h6 class="fh5co-sub-lead multipleColumnDiv">מנג'ר הוא ממשק אינטרנטי עבור מאמני הכדורסל בו הם יוכלו לראות סטטיסטיקות על הקבוצות בליגה והמשחקים מהעונות השונות. מנג'ר מנבא תוצאות משחקי כדורסל. הניבוי מתבצע בעזרת אלגוריתמי למידה ובהתבסס על סטטיסטיקות המשחקים המתפרסמות
                                        במהלך העונה. בנוסף, האלגוריתמים יעזרו בסטטיסטיקות הקיימות על עונות קודמות. מנג'ר עוזר למאמן בניהול עונת המשחקים- מנבא תוצאות משחקים, מאפשר בחירת הרכבים מוצלחים ובחירה מושכלת של החלפות.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text text-center to-animate">
                                    <h2 class="fh5co-lead">Daily Shoot</h2>
                                    <video width="320" height="240" controls class="transition-item">
										<source src="/images/nbaShot.mp4" type="video/mp4">
										 Your browser does not support the video tag.
									</video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function fixOwlCarouselPlusAngularBug() {
        $(".owl-carousel").owlCarousel({items: 1});
        $( ".owl-prev").html('');
        $( ".owl-next").html('');
    })();
</script>