<meta name="google-signin-client_id" content="474929476482-4brk7nesongrp7mk1uiid21eistsnrpv.apps.googleusercontent.com">
<div class="jumbotron text-center">
    <div class="g-signin2"></div>
    <a href="#" ng-click="login()">Sign out</a>
</div>