<div class="container" ng-init="mode='Team'">
    <br>
    <md-radio-group ng-model="mode" layout="row">
        <md-radio-button value="Team" class="md-primary">Team</md-radio-button>
        <md-radio-button value="Game">Game</md-radio-button>
    </md-radio-group>
    <br>
    <div ng-if="mode==='Team'">
        <team-choose-directive></team-choose-directive>
        <season-stats-directive></season-stats-directive>
    </div>
    <div ng-if="mode==='Game'">
        <search-game-directive></search-game-directive>
        <game-stats-directive></game-stats-directive>
    </div>
</div>