 Favorites List
<table class="table table-bordered">
    <thead>
        <tr class="md-table-headers-row">
            <th class="md-table-header">Name</th>
            <th class="md-table-header">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="md-table-content-row" ng-repeat="favorite in favorites">
            <td class="md-table-content">{{favorite.name}}</td>
            <td class="md-table-content">
                <span ng-hide="favorite.editing" ng-dblclick="editItem(favorite)">{{favorite.description}}</span>
                <input ng-show="favorite.editing" ng-model="favorite.description" ng-blur="doneEditing(favorite)" autofocus />
            </td>
            <td class="md-table-content">
                <button class="md-button md-ink-ripple" ng-click="deleteFavorite(favorite, $index)">delete</button>
                <button class="md-button md-ink-ripple" ng-click="showStatistics(favorite)">show stats</button>
            </td>
        </tr>
    </tbody>
</table>