Search Game
<form name="search_game_form">
    <md-input-container>
        <label>Home Team:</label>
        <md-select placeholder="Choose Home Team" ng-model="searchParams.homeTeam" style="min-width: 200px;">
            <md-option ng-value="homeTeam" ng-repeat="homeTeam in allTeams">{{homeTeam.fullName}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Away Team:</label>
        <md-select placeholder="Choose Away Team" ng-model="searchParams.awayTeam" style="min-width: 200px;">
            <md-option ng-value="awayTeam" ng-repeat="awayTeam in allTeams">{{awayTeam.fullName}}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Home Score:</label>
        <input name="homeScore" type="number" ng-model="searchParams.homeScore" ng-required="!(searchParams.awayTeam || searchParams.homeTeam)">
    </md-input-container>
    <button ng-click="searchGame()" class="md-button md-ink-ripple" type="submit" ng-disabled="search_game_form.$invalid">search</button>
</form>