<div ng-show="errorMsg">
    <h1>{{errorMsg}}</h1>
</div>
<div ng-show="item">
    <table>

        <tr>
            <table class="md-table stats-table" width="100%">
                <thead>
                <tr class="md-table-content-row">
                    <th class="md-column">gp <md-tooltip md-direction="left">The number of games played</md-tooltip> </th>
                    <th class="md-column">w <md-tooltip md-direction="left">The number of games won by a team</md-tooltip></th>
                    <th class="md-column">l
                        <md-tooltip md-direction="left">The number of games lost by a team</md-tooltip>
                    </th>
                    <th class="md-column">min
                        <md-tooltip md-direction="left">The number of minutes played by a player</md-tooltip>
                    </th>
                    <th class="md-column">fg3m
                        <md-tooltip md-direction="left">The percentage of team field goals made by a player</md-tooltip>
                    </th>
                    <th class="md-column">fg3a
                        <md-tooltip md-direction="left">The percentage of player or team field goals attempts that were three-point attempts</md-tooltip>
                    </th>
                    <th class="md-column">ftm
                        <md-tooltip md-direction="left"> The percentage of team free throws made by a player</md-tooltip>
                    </th>
                    <th class="md-column">fta
                        <md-tooltip md-direction="left">The percentage of team free throws attempted by a player</md-tooltip>
                    </th>
                    <th class="md-column">oreb
                        <md-tooltip md-direction="left">(Offensive Rebounds) The number of rebounds collected by the team that attempted the shot</md-tooltip>
                    </th>
                    <th class="md-column">dreb
                        <md-tooltip md-direction="left">(Percentage of Defensive Rebounds) The percentage of team defensive rebounds grabbed by a player</md-tooltip>
                    </th>
                    <th class="md-column">ast
                        <md-tooltip md-direction="left">The number of assists -- passes that lead directly to a made basket -- by a player or team</md-tooltip>
                    </th>
                    <th class="md-column">stl
                        <md-tooltip md-direction="left">The number of steals by a player or team</md-tooltip>
                    </th>
                    <th class="md-column">blk
                        <md-tooltip md-direction="left">The number of shot attempts that are blocked by a player or team</md-tooltip>
                    </th>
                    <th class="md-column">blka
                        <md-tooltip md-direction="left">The number of shots attempted by a player or team that are blocked by a defender</md-tooltip>
                    </th>
                    <th class="md-column">pf
                        <md-tooltip md-direction="left"> The percentage of team personal fouls by a player</md-tooltip>
                    </th>
                    <th class="md-column">pfd
                        <md-tooltip md-direction="left"> The number of personal fouls that are committed against a single player</md-tooltip>
                    </th>
                </tr>
                </thead>
                <tbody>

                    <tr class="md-table-content-row">
                        <td class="md-table-content">{{item.gp}}</td>
                        <td class="md-table-content">{{item.w}}</td>
                        <td class="md-table-content">{{item.l}}</td>
                        <td class="md-table-content">{{item.min}}</td>
                        <td class="md-table-content">{{item.fg3m}}</td>
                        <td class="md-table-content">{{item.fg3a}}</td>
                        <td class="md-table-content">{{item.ftm}}</td>
                        <td class="md-table-content">{{item.fta}}</td>
                        <td class="md-table-content">{{item.oreb}}</td>
                        <td class="md-table-content">{{item.dreb}}</td>
                        <td class="md-table-content">{{item.ast}}</td>
                        <td class="md-table-content">{{item.stl}}</td>
                        <td class="md-table-content">{{item.blk}}</td>
                        <td class="md-table-content">{{item.blka}}</td>
                        <td class="md-table-content">{{item.pf}}</td>
                        <td class="md-table-content">{{item.pfd}}</td>
                    </tr>

                </tbody>
            </table>
        </tr>

        <tr style="">
            <div id="piechartdiv"></div>
        </tr>
    </table>
</div>