table.stats-table thead tr th {
    background: #032f4f;
    color: #fff;
    line-height: 1.15em;

    vertical-align: bottom;
    z-index: 20;
    border-bottom: 0;
    text-transform: uppercase;
}

table.stats-table thead tr th,td {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 14px 6px 10px;
}
table.stats-table {
    border: 1px solid #adadad;
}