<div class="form_headline">
    Search Team
</div>
<form name="search_group_form">
    <md-input-container>
        <label>Name:</label>
        <input name="fullName" ng-model="searchParams.fullName" ng-required="!(searchParams.city || searchParams.confName)">
    </md-input-container>
    <md-input-container>
        <label>City:</label>
        <input name="city" ng-model="searchParams.city" ng-required="!(searchParams.fullName || searchParams.confName)">
    </md-input-container>
    <md-input-container>
        <label>Conference:</label>
        <input name="confName" ng-model="searchParams.confName" ng-required="!(searchParams.city || searchParams.fullName)">
    </md-input-container>
    <button ng-click="search()" class="md-button md-ink-ripple" type="submit" ng-disabled="search_group_form.$invalid">search</button>
</form>