<div class="form_headline">
    Choose Team
</div>
<form name="search_group_form">
    <md-input-container>
        <md-select placeholder="Team" ng-model="selectedTeam" ng-change="selectChanged()" style="min-width: 200px;">
            <md-option ng-value="team" ng-repeat="team in allTeams">{{team.fullName}}</md-option>
        </md-select>
    </md-input-container>
</form>