<div ng-if="teamsList">
    Teams List
    <table class="table table-bordered">
        <thead>
            <tr class="md-table-headers-row">
                <th class="md-table-header">Name</th>
                <th class="md-table-header">Nickname</th>
                <th class="md-table-header">City</th>
                <th class="md-table-header">Conference</th>
            </tr>
        </thead>
        <tbody>
            <tr class="md-table-content-row" ng-repeat="team in teamsList">
                <td class="md-table-content">{{team.fullName}}</td>
                <td class="md-table-content">{{team.nickname}}</td>
                <td class="md-table-content">{{team.city}}</td>
                <td class="md-table-content">{{team.confName}}</td>
                <td class="md-table-content" ng-if="mode==='Favorites'">
                    <button ng-click="addToFavorites(team)" class="md-button md-ink-ripple">add to favorites</button>
                </td>
                <td class="md-table-content" ng-if="mode==='Statistics'">
                    <button ng-click="showStatistics(team)" class="md-button md-ink-ripple">show statistics</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>