<div id="season_details_table" class="row">
    <!--todo fix display for better looking-->
    <div class="col-lg-3 table-cell">
        SEASON
        <br>
        {{seasonDetails.seasonName}}
    </div>
    <div class="col-lg-3 table-cell">
        SEASON TYPE
        <br>
        {{seasonDetails.seasonType}}
    </div>
    <div class="col-lg-3 table-cell">
        PER MODE
        <br>
        {{seasonDetails.perMode}}
    </div>
    <div class="col-lg-3 table-cell">
        LINEUPS
        <br>
        {{seasonDetails.lineupsType}}
    </div>
</div>